p {
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}

span {
    font-weight: bold;
}


/* **********************************************************************************
********************************************************************************** */

@media (max-width: 800px) {
    .container .ayurveda-section {
        border-left: none;
    }
}

@media (max-width: 600px) {
    .container .ayurveda-section {
        border-right: none;
    }
}