* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* **********************************************************************************
**********************************************************************************
**********************************************************************************
********************************************************************************** */

.container {
    width: 100%;
    margin-top: 10vh;
}

.container .banner img {
    width: 100%;
    height: 30vh;
}

.container .card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.container .card-section .card {
    width: 16rem;
    padding: 2rem 0.8rem;
    text-align: start;
    margin: 1rem;
    box-shadow: 0 0 5px 0 black;
    border-radius: 0.5rem;
    text-align: center;
}

.container .card-section .card img {
    width: 4rem;
    margin: 0 4.9rem;
}

.container .card-section .card .content {
    letter-spacing: 0.2px;
    margin-top: 0.8rem;
}

.container .card-section .card .content h3 {
    border-top: 0.2rem solid black;
    border-radius: 30%;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.container .card-section .card .content p {
    font-size: 0.9rem;
    margin: 0.5rem 0 1.5rem 0;
}

.container .card-section .card .content a {
    font-size: 1rem;
    box-shadow: 0 0 5px 0 black;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: #000;
    color: white;
}