* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* **********************************************************************************
**********************************************************************************
**********************************************************************************
********************************************************************************** */

.container {
    margin-top: 5rem;
}

.container .banner img {
    width: 100%;
    height: 30vh;
}

.container .blog-search {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    box-shadow: 0 0 0.2rem 0 black;
}

.container .blog-search input {
    height: 2.2rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.container .blog-search button {
    border: none;
    border-left: 1px solid black;
    background-color: #fff;
    cursor: pointer;
}

.container .blog-search button img {
    width: 2rem;
    padding: 0.3rem;
}

.container .blog-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.container .blog-section .blog-card {
    box-shadow: 0 0 0.5rem 0 black;
    border-radius: 10% 10% 5% 5%;
    text-align: start;
    width: 16rem;
    margin: 1.5rem;
}

.container .blog-section .blog-card img {
    width: 16rem;
    height: 8rem;
    border-radius: 10% 10% 0 0;
}

.container .blog-section .blog-card .blog-content {
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.container .blog-section .blog-card .blog-content p {
    padding: 0.5rem 0 1.5rem 0;
    font-size: 0.8rem;
}

.container .blog-section .blog-card .blog-content a {
    font-size: 1rem;
    box-shadow: 0 0 5px 0 black;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: #000;
    color: white;
    margin: 3rem;
}