* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* **********************************************************************************
**********************************************************************************
**********************************************************************************
********************************************************************************** */


/* 
.container {
    width: 100%;
    margin-top: 10vh;
} */

.container .card-section .card .content h3 {
    border: none;
}